/*load fonts*/
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat.woff2");
  font-display: swap;
}
/*body and text*/
body {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  word-wrap: break-word;
  background-color: #191919;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: soft-light;
  overflow: overlay;
  margin: 0 auto;
  max-width: 85%;
  padding: 20px;
}
h2 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1;
}
/*link colours*/
a:hover, a:visited, a:link, a:active{text-decoration: none;}
a:link, summary {
  color: #ff5b5b;
  -webkit-transition: color 0.08s linear;
  -moz-transition: color 0.08s linear;
  -ms-transition: color 0.08s linear;
  -o-transition: color 0.08s linear;
  transition: color 0.08s linear;
}
a:visited {
  color: #ff5b5b;
}
a:hover, summary:hover {
  color: #ffeeee;
}
/*Scroll box*/
.scrollBox {
  height: 300px;
  max-width: 800px;
  width: auto;
  padding: 10px;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.3);
}
/*scroll bar style*/
::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.6);
}
:root /*change button button colours to theme*/ {
  color-scheme: light dark;
}
::selection /*mouse highlight colour*/ {
  background-color: #ff3c3ca1
}

/*images*/
img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}
#blogImageBG /*background image on blog page*/ {
  object-fit: cover;
  position: fixed;
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1000;
  filter: brightness(50%);
}
#imagepixel /*nearest-neighbor scaling*/ {
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
}

/*video*/
video {
  border-radius: 22px;
  overflow: hidden;
}
video:fullscreen {
  border-radius: 0px;
}
#videoBG /*background video*/ {
  object-fit: cover;
  position: fixed;
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1000;
  border-radius: 0px;
  filter: brightness(25%);
}
@media screen and (max-width: 768px) {
  video {
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
}

/*button*/
button {
  background: none;
  border: 0;
  padding: 0;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  color: #ff6868!important;
  text-decoration: underline!important;
  cursor: pointer;
  -webkit-transition: color 0.08s linear;
  -moz-transition: color 0.08s linear;
  -ms-transition: color 0.08s linear;
  -o-transition: color 0.08s linear;
  transition: color 0.08s linear;
}
button:hover {
  color: #ffeeee!important;
}

/*header buttons*/
.header {
  position: sticky;
  top: 5px;
  background-color: hsla(0, 0%, 0%, 0.4);
  padding: 7px;
  border-radius: 10px;
  z-index:1000;
  display: inline-block;
}

/*table*/
table {
  border-collapse: collapse;
}
td, th {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}
th {
  background-color: rgba(0, 0, 0, 0.6);
}
@media screen and (max-width: 768px) {
  td, th {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

/*abbreviation tooltips*/
abbr /*underline word holding tooltip*/ {
  text-decoration-line: underline 1px solid!important;
  -webkit-text-decoration-line: underline!important;
  position: relative;
  display: inline-block;
}
abbr .tooltip /*tooltip style*/ {
  visibility: hidden;
  position: absolute;
  width: 140px;
  margin-left: -70px;
  padding: 1px;
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 15px;
  text-align: center;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  /*fade in*/
  opacity: 0;
  transition: opacity 0.25s;
}
abbr:hover .tooltip /*show tooltip*/ {
  visibility: visible;
  opacity: 1;
}

/*aside block*/
aside {
  width: 50%;
  padding-left: 10px;
  margin-left: 5px;
  float: right;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  font-style: italic;
}

/*blockquote*/
blockquote {
  border-left: 5px solid rgba(255, 102, 102, 0.9);
  padding: 15px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  outline: 1px solid rgba(255, 255, 255, 0.2);
}
@media screen and (max-width: 768px) {
  blockquote {
    border-left: 5px solid #cf2e2e;
    padding: 10px;
  }
}
/*blockquote colours*/
.pink {
  border-left: 5px solid #f78da7
}
.orange {
  border-left: 5px solid #ff6900
}
.yellow {
  border-left: 5px solid #fcb900
}
.green {
  border-left: 5px solid #00d084
}
.blue {
  border-left: 5px solid #0693e3
}
.purple {
  border-left: 5px solid #9b51e0
}
.white {
  border-left: 5px solid rgba(255, 255, 255, 0.9);
}
.blank {
  border-left: 0px;
  outline: 1px solid rgba(255, 255, 255, 0.2);
  animation: shine 2s infinite alternate ease-in-out;
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.2);
}
.rainbow {
  border-left: 0px;
  outline: 1px solid rgba(253, 60, 26, 0.5);
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.2);
  animation: rainbow 4s infinite;
}
.success {
  border-left: 0px;
  outline: 1px solid rgba(8, 255, 111, 0.5);
}
.info {
  border-left: 0px;
  outline: 1px solid rgba(33, 150, 243, 0.5);
}
.warning {
  border-left: 0px;
  outline: 1px solid rgba(255, 152, 0, 0.5);
}
.fail {
  border-left: 0px;
  outline: 1px solid rgba(253, 60, 26, 0.5);
}
.fadeIn /*text fade in animation*/ {
  animation: fadeIn 1s;
}
@keyframes fadeIn {
  0% {opacity:0%}
  100% {opacity:100%}
}
@keyframes textFadeIn {
  0% {opacity:0%; visibility: hidden; font-size: 0%;}
  70% {opacity:0%; visibility: hidden; font-size: 0%;}
  71% {opacity:0%; visibility: visible; font-size: 100%;}
  100% {opacity:100%; visibility: visible; font-size: 100%;}
}
@keyframes shine {
  from {box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.0)}
  to {box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.2)}
}
@keyframes rainbow {
  100%, 0% {outline-color: rgb(255, 0, 0, 0.7)}
  8% {outline-color: rgb(255, 127, 0, 0.7)}
  16% {outline-color: rgb(255, 255, 0, 0.7)}
  25% {outline-color: rgb(127, 255, 0, 0.7)}
  33% {outline-color: rgb(0, 255, 0, 0.7)}
  41% {outline-color: rgb(0, 255, 127, 0.7)}
  50% {outline-color: rgb(0, 255, 255, 0.7)}
  58% {outline-color: rgb(0, 127, 255, 0.7)}
  66% {outline-color: rgb(0, 0, 255, 0.7)}
  75% {outline-color: rgb(127, 0, 255, 0.7)}
  83% {outline-color: rgb(255, 0, 255, 0.7)}
  91% {outline-color: rgb(255, 0, 127, 0.7)}
}

/*code boxes*/
code /*code formatting*/ {
  padding: 3px 5px;
  line-height: 1;
  border-radius: 5px;
  font-size: 15px;
  background-color: hsla(0, 0%, 0%, 0.4);
}
.codeBox /*code box*/ {
  font-size: 15px;
  padding: 5px;
  line-height: 1.6;
  background-color: hsla(0, 0%, 0%, 0.4);
  outline: 1px solid rgba(255, 255, 255, 0.2);
  white-space: pre-wrap;
  font-family: ui-monospace, 'Menlo', 'Consolas', monospace;
}

/*comment section*/
iframe#commentSection {
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
  object-fit: contain;
  border: none;
}

/*blog styles*/
@media screen and (max-width: 768px) {
  body{
    max-width: 100%;
  }
  .pageTitle {
    font-size: 30px;
  }
}
.pageTitle {
  font-size: 50px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
}
.title {
  font-size: 35px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.8)!important;
}
.title:hover {
  color: rgba(255, 255, 255, 1)!important;
}
.desc {
  font-size: 18px;
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.7);
}
.pageDesc {
  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 10px;
}
.post {
  padding: 15px;
  margin-block: 20px;
  border-radius: 20px;
  outline: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(15, 15, 15, 0.6);
}
.sub {
  line-height: 0;
}
.image {
  padding-top: 0px;
  display: block;
  margin: 0 auto;
}
.post .image {
  padding-top: 10px;
}
.date {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
}
.date:hover {
  -webkit-transition: color 0.05s linear;
  -moz-transition: color 0.05s linear;
  -ms-transition: color 0.05s linear;
  -o-transition: color 0.05s linear;
  transition: color 0.05s linear;
  color: rgba(255, 255, 255, 0.9);
}
.tags .tag {
  display: inline-block;
  margin-top: 4px;
  margin-left: 2px;
}
.tags .tagHeader {
  display: inline-block;
  margin-top: 8px;
}
#clearTag {
  display: none;
}
.headingAnchor{
  color: rgba(255, 255, 255, 0.4);
}
.headingAnchor{
  color: rgba(255, 255, 255, 0.4);
}
.headingAnchor:hover{
  color: rgba(255, 255, 255, 0.8);
}
/*if mobile*/
@media screen and (max-width: 768px) {
  .post {
    padding: 10px;
    margin-block: 10px;
    border-radius: 15px;
  }
  .title{
    font-size: 30px;
  }
}